<%- include("./partials/header.ejs") %>
<header>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
   <style>
       body{
           padding:70px;
           font-family: 'Lobster Two', cursive;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 100;
       }
   </style>
</header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img class="ui mini images" id="devprofile" src="https://res.cloudinary.com/instage/image/upload/v1593144496/WhatsApp_Image_2020-06-26_at_9.33.34_AM_hhryzh.jpg" alt="Owner">
                <div id="aboutinfo">
                <h2 id="aboutname"><strong>Abhinav Gupta</strong></h2>
                <h4 class= "aboutdown"><em>Full Stack Web Developer</em> </h4>
                <h4 class= "aboutdown">Student at Indian Institute of Information Technology , Vadodara.  </h4>
                </div>
                
            </div>
            <div class="col-lg-6 col-sm-12">
                <img class="ui mini images" id="devprofile" src="https://res.cloudinary.com/instage/image/upload/v1593145296/WhatsApp_Image_2020-06-26_at_9.51.01_AM_rnmw8l.jpg" alt="Owner">
                <div id="aboutinfo">
                <h2 id="aboutname"><strong>Kamlesh Kumar Saini</strong></h2>
                <h4 class= "aboutdown"><em>Competitive Programmer </em> </h4>
                <h4 class= "aboutdown">Student at Indian Institute of Information Technology , Vadodara.  </h4>
                </div>
            </div>    
        </div>
        
        <footer>
            <div class="social" id="socfoot">
                <a class="ui facebook icon circular button aboutsocial" target="_blank" href="https://www.facebook.com/abhinav.khandelwal.777">
                    <i class="facebook icon"></i>
                    
                </a>
                  <a class="ui twitter icon circular button aboutsocial" target="_blank" href="https://twitter.com/abhinavkhandel6">
                    <i class="twitter icon"></i>
                    
                  </a>
                  <a class="ui linkedin icon circular button aboutsocial" target="_blank" href="https://www.linkedin.com/in/abhinav-gupta-583057174/">
                    <i class="linkedin icon"></i>
                    
                  </a>
                  <a class="ui instagram icon circular button aboutsocial" target="_blank" href="https://www.instagram.com/simplifying_abhinav/?hl=en">
                    <i class="instagram icon"></i>
                    
                  </a>
                  
            </div>
            <p> &copy; Abhinav Gupta </p>
    </footer>
    </div>
<%- include("./partials/footer.ejs") %>
